services:
  backend:
    build:
      context: ./retailerp
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./retailerp/src:/app/src
      - ./retailerp/pom.xml:/app/pom.xml
    environment:
      SPRING_DEVTOOLS_RESTART_ENABLED: "false"
    restart: always


# docker compose build
# docker compose up -d