version: '3.8'

services:
  backend:
    build:
      context: ./retailerp
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./retailerp:/app
      - ~/.m2:/root/.m2  # optional: cache Maven dependencies
    command: mvn spring-boot:run
    restart: always



# docker compose build
# docker compose up -d